{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="span5">
            <h2>Login</h2>
            <br>
            <form action="{% url 'account_login' %}" method="POST">
                {% csrf_token %}
                {{login_form|crispy}}
                <br>
                <input type="submit" class="btn btn-inverse" value="Login">
                &nbsp;&nbsp;<a href="{% url "password_reset" %}">Forgot Password?</a>
            </form>
        </div>
        <div class="span5 pull-right">
            <h2>Create Account</h2>
            <form action="{% url 'account_create' %}" method="POST">
                {% csrf_token %}
                {% for hidden_field in registration_form.hidden_fields %}
                    {{hidden_field}}
                {% endfor %}
                {% for field in registration_form.visible_fields %}
                    <div class = "form-group">
                        <label>{{field.label_tag}}</label>
                        <br>
                        {{field}}
                        <label style="color:red;">{{field.errors}}</label><br>
                        {% if field.help_text %}
                            <small class="form-text text-muted">{{field.help_text}}</small>
                        {% endif %}
                    </div>
                {% endfor %}
                <input type="submit" class="btn btn-inverse" value="New User? Sign-Up">
            </form>
        </div>
    </div>
    
</div>
{% endblock %}
