{% extends "base.html" %}
{% block title %} 
	SBHS Account Activation
{% endblock %}
{% block content %}
	{% if success %}
		<center>
		<div class="alert alert-success" role="alert">
		    <strong> {{ msg }} </strong>
		</div>
		<a href="{% url 'account_enter' %}"> Home </a>
		</center>
	{% else %}	
		{% if msg %}
	        <center>
		        <div class="alert alert-warning" role="alert">
		            <strong> {{ msg }} </strong>
		        </div>
	        </center>
	        <form action="" method="post">
		        {% csrf_token %}
		        <center>
			        Enter Email Address for verification: <input type="email" name="email" required><br><br>
			        <button class="btn" type="submit">Send Email</button>
	        </center>
	        </form>
	    {% endif %}
	{% endif %}
	<br>
	{% if activation_msg %}
	    <center>
	    <div class="alert alert-info" role="alert">
	        <strong> {{ activation_msg }} </strong>
	    </div>
	    <a href="{% url 'account_enter' %}"> Home </a>
	    </center>
    {% endif %}
    {% if email_err_msg %}
	    <center>
		    <div class="alert alert-warning" role="alert">
		        <strong> {{ email_err_msg }} </strong>
		    </div>
	    </center>
	    <form action="" method="post">
		    {% csrf_token %}
		    <center>
			    <table>
				    <tr>
					    <td>Enter Username:</td>
					    <td><input type="text" name="username" required></td>
				    </tr>
				    <tr>
					    <td>Enter New Email Address:</td>
					    <td><input type="email" name="email" required></td>
				    </tr>
			    </table>
			    <br>
			    <button class="btn" type="submit">Submit</button>
		    </center>
	    </form>
	{% endif %}
{% endblock %}