{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
            <div class="span12" style="position: relative;top: 1.3em;">
                <ul class="nav nav-pills">
                    <li id="home-nav"><a href="">Home</a></li>
                    <li id="book-slot-nav"><a href="{% url 'slot_new' %}">Book slot</a></li>
                    <li id="download-log-nav"><a href="">Download log files</a></li>
                    <li id="video-nav"><a href="">Show video</a></li>
                    {% if user.profile.is_moderator %}
                        <li id="admin-nav"><a href="{% url 'moderator_dashboard' %}">Moderator Dashboard</a></li>
                    {% endif %}
                    <br><br>
                </ul>
            </div>
        <script type="text/javascript">
            document.getElementById("home-nav").classList.add("active");
        </script>
        <div class="span12">
            <h2>Welcome to Single Board Heater System Lab</h2>
            <br>
            You can:
            <ul>
                <li>book your slot by going to the "Book slot" section above</li>
                <li>download the client code for experiments using the download link above</li>
                <li>download your previous experiment logs by going to "Download log files" section above</li>
                <li>see the experiment video by going to "Show video" section above</li>
            </ul>
        </div>
    </div>    
</div>
{% endblock %}