{% extends 'dashboard/dashboard_index.html' %}
{% load staticfiles %}
{% block title %}
    All Images
{% endblock %}
{% block main %}
    <div class = "container">
        <div class = "row">
            <div class = "gallery" id = "gallery">
                <div class = "mb-3 pics animation all 2">
                    <div class = "thumbnail">
                        {% for board in image_links %}
                            {{board.borad.mid}}
                            <img src="{% static board.image_link %}">
                        {% endfor %}
                    </div>
                </div>
            </div>
    </div>
  </div>
<script type="text/javascript">
    var timer = setInterval(function(){
        location.reload();
    }, 25000);
</script>
{% endblock %}