{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="span12" id="contact">
            <h2>Feedback / Contact Us</h2>
            <hr>
	        <p>
                <h5>Write a mail to <a href="mailto:sbhs@os-hardware.in">sbhs[at]os-hardware[dot]in</a> to provide a feedback on SBHS virtual lab experience.
                </h5>
	        </p>
            <br>           
        </div>
    </div>
</div>
{% endblock %}
